.userListWrapper {
  display: flex;
  flex-direction: column;
  padding: 60px 60px 48px 10px;
}

.inputContainer {
  display: flex;
  justify-content: space-between;

  & input {
    min-width: 644px;
    margin-bottom: 24px;
  }
}

.selectTrigger {
  width: 234px;
}
.selectContent {
  border-radius: 2px;
}

.selectTrigger.selectFilter {
  min-width: 234px;
}

.userList {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 1px solid var(--dark-500);
}

.headerContainer {
  background-color: var(--dark-500);
  padding: 12px 24px;
  display: flex;
  text-align: left;

  & div:first-child {
    min-width: 134px;
    margin-right: 54px;
  }
  & div:nth-child(2) {
    min-width: 130px;
    margin-right: 83px;
  }
  & div:nth-child(3) {
    min-width: 130px;
    margin-right: 131px;
  }
  & div:nth-child(4) {
    min-width: 80px;
    margin-right: 161px;
  }
}

.buttonContainer {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;

  & button {
    max-width: 130px;
    width: 100%;
  }
}
