.user {
  display: grid;
  grid-template-columns: minmax(14%, 1fr) minmax(22%, 2fr) minmax(22%, 2fr) minmax(18%, 2fr) minmax(14%, 0.5fr);
  align-items: center;
  //gap: 16px;
  padding: 12px 16px;
  border-bottom: 1px solid #333;
  font-size: 14px;
  color: #ccc;

  &:not(:last-child) {
    border-bottom: 1px solid var(--dark-500);
  }
}

.userId {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: right;
  text-align: left;

  & img {
    width: 24px;
  }
}

//.userName {
//
//}

.dotsIcon {
  padding: 5px;
  cursor: pointer;
  position: relative;
}

.popoverContainer {
  border-radius: 2px;
  border: 1px solid var(--dark-100, #4C4C4C);
  background: var(--dark-500, #171717);
  padding: 12px;
  outline: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
  z-index: 2;
}

.popoverItem {
  display: flex;
  gap: 12px;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  cursor: pointer;
}

.modalBanUser {
  padding: 12px 24px;
  width: 378px;

  & p {
    margin-bottom: 18px;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
  }
}

.errorMessage {
  position: absolute;
  bottom: 33%;
  left: 24px;
  color: var(--danger-500);
  font-size: 14px;
  margin-top: 10px;
}